name: IMEI_checker

on:
  schedule:
    - cron: "0 2 * * *" #JST 11:00
  workflow_dispatch:

jobs:
  selenium:
    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - uses: actions/setup-python@main
        with:
          python-version: "*"

      - name: Install Package
        run: pip install selenium

      - name: Install Open VPN
        run: sudo apt update; sudo apt install -y openvpn

      - name: Get setting file - 日本サーバーの中で1番スコアの高いサーバーを使用
        run: curl -sS "https://www.vpngate.net/api/iphone/" | grep ,JP, | sort -k 3nr -t , | sed -n 1p | cut -d, -f15 | base64 -d 2> /dev/null | tee ./vpngate.ovpn

      # ct99.my.softbank.jp は日本以外からアクセスできない？っぽい
      - name: Connect VPN
        run: |
          sudo openvpn --daemon --config ./vpngate.ovpn
          sleep 5

      - name: Run Selenium
        shell: python
        run: |
          import os

          from selenium import webdriver
          from selenium.webdriver.common.by import By

          options = webdriver.ChromeOptions()
          options.add_argument('--headless=new')
          options.add_argument('--user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36')
          options.add_argument('--no-sandbox')
          options.add_argument('--start-maximized')
          options.add_argument('--disable-dev-shm-usage')
          options.add_argument('--disable-blink-features=AutomationControlled')
          options.add_argument('--disable-extensions')
          options.add_argument('--blink-settings=imagesEnabled=false')
          options.add_experimental_option("excludeSwitches", ['enable-automation'])
          driver = webdriver.Chrome(options=options)
          driver.implicitly_wait(10)

          driver.get('${{ secrets.IMEI_CHECKER_URI }}')
          #driver.get('https://ct99.my.softbank.jp/WBF/icv?imei=000000000000000')
          driver.find_element(By.NAME, "ACT_TE001").click()

          result = driver.find_element(By.XPATH, '/html/body/div[1]/table[2]/tbody/tr[2]/td/font').get_attribute('innerHTML')
          with open(os.getenv('GITHUB_STEP_SUMMARY'), 'a') as o:
          	#print(driver.find_element(By.CSS_SELECTOR, 'body > div:nth-child(1) > table:nth-child(2)').get_attribute('outerHTML').replace('<', '&lt;'), file=o)
          	o.write(f'Result: {result}\n{driver.find_element(By.XPATH, '/html/body/div[1]/table[2]/tbody/tr[12]/td/font').get_attribute('innerHTML')}')
          if '▲' != result:
          	raise ValueError('result not ▲')

          driver.quit()

      - name: kill VPN
        if: always()
        run: sudo killall openvpn

      # In a public repository, scheduled workflows are automatically disabled when no repository activity has occurred in 60 days.
      - name: Disable / Enable workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow disable "$GITHUB_WORKFLOW" -R "$GITHUB_REPOSITORY"
          sleep 3
          gh workflow enable "$GITHUB_WORKFLOW" -R "$GITHUB_REPOSITORY"
