name: IMEI_checker

on:
  schedule:
    - cron: "17 1 * * *" #JST 10:17
  workflow_dispatch:

jobs:
  selenium:
    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - uses: actions/setup-python@main
        with:
          python-version: "*"

      - name: Install Package
        run: pip install selenium

      - name: Install Open VPN
        run: sudo apt update; sudo apt install -y openvpn
        # Ubuntu 24.04 以降はupdate不要
        #run: sudo apt install -y openvpn

      - name: Get setting file - 日本サーバーの中で1番スコアの高いサーバーを使用
      #- name: Get setting file - ad.jp以外の日本サーバーの中で1番スコアの高いサーバーを使用
        run: curl -sS "https://www.vpngate.net/api/iphone/" | grep ,JP, | sort -k 3nr -t , | sed -n 1p | cut -d, -f15 | base64 -d 2> /dev/null | tee ./vpngate.ovpn
        #run: curl -sS "https://www.vpngate.net/api/iphone/" | sed '/^public-vpn-/d' | grep ,JP, | sort -k 3nr -t , | sed -n 1p | cut -d, -f15 | base64 -d 2> /dev/null | tee ./vpngate.ovpn

      # SoftBankのIMEI確認サイトは日本以外からアクセスできない？っぽい
      - name: Connect VPN
        run: |
          #sudo openvpn --daemon --config ./vpngate.ovpn
          # OpenVPN 2.6系になってからOpenSSL 3.0 が使われるようになったようで、幾つかの cipher がデフォルトの設定で使えなくなった
          sudo openvpn --data-ciphers AES-128-CBC --daemon --config ./vpngate.ovpn
          sleep 5

      - name: Run Selenium
        shell: python
        run: |
          import os

          from selenium import webdriver
          from selenium.webdriver.common.by import By

          def check_imei(driver):
            driver.get('${{ secrets.IMEI_CHECKER_URI }}')
            driver.find_element(By.NAME, "ACT_TE001").click()

            result = driver.find_element(By.XPATH, '/html/body/div[1]/table[2]/tbody/tr[2]/td/font').get_attribute('innerHTML')
            with open(os.getenv('GITHUB_STEP_SUMMARY'), 'a') as o:
              #print(driver.find_element(By.CSS_SELECTOR, 'body > div:nth-child(1) > table:nth-child(2)').get_attribute('outerHTML').replace('<', '&lt;'), file=o)
              o.write(f'Result: {result}\n{driver.find_element(By.XPATH, '/html/body/div[1]/table[2]/tbody/tr[12]/td/font').get_attribute('innerHTML')}')
            return result

          browserMajorVersion = os.popen('google-chrome --version').read().split()[2].split('.')[0]

          options = webdriver.ChromeOptions()
          options.add_argument('--headless=new')
          options.add_argument(f'--user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{browserMajorVersion}.0.0.0 Safari/537.36')
          options.add_argument('--no-sandbox')
          options.add_argument('--start-maximized')
          options.add_argument('--disable-dev-shm-usage')
          options.add_argument('--disable-blink-features=AutomationControlled')
          options.add_argument('--disable-extensions')
          options.add_argument('--blink-settings=imagesEnabled=false')
          options.add_experimental_option("excludeSwitches", ['enable-automation'])
          with webdriver.Chrome(options=options) as driver:
            driver.implicitly_wait(10)

            result = None
            max_retries = 5
            for attempt in range(max_retries):
              try:
                result = check_imei(driver)
                break
              except Exception as e:
                if attempt < max_retries - 1:
                  #time.sleep(2)
                  pass
                else:
                  raise
            if '▲' != result:
              raise ValueError('result not ▲')

      - name: kill VPN
        if: always()
        run: sudo killall openvpn

      # In a public repository, scheduled workflows are automatically disabled when no repository activity has occurred in 60 days.
      - name: Disable / Enable workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh workflow disable "$GITHUB_WORKFLOW"
          sleep 3
          gh workflow enable "$GITHUB_WORKFLOW"
