name: mineo-enabler

on:
  schedule:
    - cron: "30 3 * * 1-5" #JST 12:30
  workflow_dispatch:

jobs:
  enabler:
    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - name: Disable / Enable workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow enable "mineo" -R "$GITHUB_REPOSITORY"

          # In a public repository, scheduled workflows are automatically disabled when no repository activity has occurred in 60 days.
          gh workflow disable "$GITHUB_WORKFLOW" -R "$GITHUB_REPOSITORY"
          gh workflow enable "$GITHUB_WORKFLOW" -R "$GITHUB_REPOSITORY"
