name: mineo

on:
  schedule:
    - cron: "*/30 * * * 1-5" #30分毎に実行
  workflow_dispatch:

jobs:
  selenium:
    runs-on: ubuntu-latest

    permissions:
      actions: write

    steps:
      - uses: actions/setup-python@main
        with:
          python-version: "*"

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - name: Download Files
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }} # gh api
          TARGET_REPOSITORY: selenium-mineo
        run: |
          gh api -H "Accept: application/vnd.github.raw" /repos/$GITHUB_REPOSITORY_OWNER/$TARGET_REPOSITORY/contents/selenium-mineo.py > ./selenium-mineo.py
          gh api -H "Accept: application/vnd.github.raw" /repos/$GITHUB_REPOSITORY_OWNER/$TARGET_REPOSITORY/contents/google-chrome.txz > ./google-chrome.txz

      - name: Install Package
        run: |
          #pip install get-chrome-driver --upgrade
          pip install selenium

      - name: Install Open VPN
        run: sudo apt update; sudo apt install -y openvpn

      - name: Get setting file - 日本サーバーの中で1番スコアの高いサーバーを使用
        run: curl -sS "https://www.vpngate.net/api/iphone/" | grep ,JP, | sort -k 3nr -t , | sed -n 1p | cut -d, -f15 | base64 -d 2> /dev/null | tee ./vpngate.ovpn

      - name: Connect VPN
        run: |
          sudo openvpn --daemon --config ./vpngate.ovpn
          sleep 5

      #- name: Run selenium-server
      #  shell: bash
      #  run: java -jar $SELENIUM_JAR_PATH

      - name: unpack profile
        run: |
          mkdir -p ./google-chrome1/Default
          tar xf ./google-chrome.txz -C ./google-chrome1/Default
          cp -a ./google-chrome1 ./google-chrome2

      - name: Run Selenium mineo
        env:
          id1: ${{ secrets.ID1 }}
          pass1: ${{ secrets.PASS1 }}
          #id2: ${{ secrets.ID2 }}
          #pass2: ${{ secrets.PASS2 }}
        run: |
          python ./selenium-mineo.py 2>&1 | tee -a $GITHUB_STEP_SUMMARY
          exit ${PIPESTATUS[0]}

      - name: Remove Files
        if: always()
        run: rm -fr ./selenium-mineo.py ./google-chrome*

      - name: kill VPN
        if: always()
        run: sudo killall openvpn

      - name: Disable workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh workflow disable "$GITHUB_WORKFLOW" -R "$GITHUB_REPOSITORY"
