name: test

on:
  workflow_dispatch:

jobs:
  selenium:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-python@main
        with:
          python-version: "*"

      - name: Run Selenium
        shell: python
        run: |
          import os

          print(os.popen("google-chrome --version | sed -E 's/.+ ([0-9]+).*/\1/'").read())
